<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Shine Dental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/shine.png">


    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">

    
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>

  </head>


  <style>
    #map {
    text-align: center; /* Centra el mapa en su contenedor */
    margin: 20px 0; /* Ajusta los márgenes según sea necesario */
}

  </style>


  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">Shine<span>Dental</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menú
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="cliente/about" class="nav-link">Sobre Nosotros</a></li>
	          <li class="nav-item"><a href="cliente/services" class="nav-link">Servicios</a></li>
	          <li class="nav-item"><a href="cliente/doctors" class="nav-link">Especialistas</a></li>
	          <li class="nav-item"><a href="cliente/odontopediatria" class="nav-link">Odontopediatría</a></li>
	          <li class="nav-item"><a href="cliente/contact" class="nav-link">Contacto</a></li>
	          <li class="nav-item cta"><a href="cliente/contact" class="nav-link" data-toggle="modal" data-target="#modalRequest"><span>Haz tu cita</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">
            <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Clínica Dental Shine Dental</h1>
              <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Shine Dental es una clínica especializada en la salud oral, ofreciendo servicios como limpiezas dentales, rellenos, prótesis fijas y removibles, implantes, ortodoncia y cirugía maxilofacial.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('/images/bg_2.jpg');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">
            <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Cuidando la Sonrisa de los Más Pequeños</h1>
              <p class="mb-4">En Shine Dental, entendemos que la salud bucal comienza desde la niñez. Nuestra área de odontopediatría está dedicada a brindar atención especializada a bebés, niños y adolescentes, enfocándose en la prevención y el tratamiento de las enfermedades dentales desde sus primeras etapas.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-intro">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-3 color-1 p-4">
    				<h3 class="mb-4">Contacto - Doctores</h3>
    				<p></p>
    				<span class="phone-number">+ (502) 3515-5503</span>
            <span class="phone-number">castilloherbert@gmail.com</span>
            <p>Dr. Herbert Castillo</p>
    				<span class="phone-number">+ (502) 3917-8390</span>
            <span class="phone-number">crisitanjoc@gmail.com</span>
            <p>Dr. Cristian Joc</p>
    			</div>
    			<div class="col-md-3 color-2 p-4">
    				<h3 class="mb-4">Horario de Atención</h3>
    				<p class="openinghours d-flex">
    					<span>Lunes - Viernes</span>
    					<span>04:00pm - 08:00pm</span>
    				</p>
    				<p class="openinghours d-flex">
    					<span>Sábado</span>
    					<span>10:00am - 06:00pm</span>
    				</p>
    				<p class="openinghours d-flex">
    					<span>Domingo</span>
    					<span>10:00am - 01:00pm</span>
    				</p>
    			</div>
    			<div class="col-md-6 color-3 p-4">
    				<h3 class="mb-2">Haz tu Cita</h3>
    				<form action="#" class="appointment-form">
	            <div class="row">
	              <div class="col-sm-4">
	                <div class="form-group">
	                	<div class="icon"><span class="icon-user"></span></div>
			              <input type="text" class="form-control" id="appointment_name" placeholder="Nombre Completo">
			            </div>
	              </div>
	              <div class="col-sm-4">
	                <div class="form-group">
	                	<div class="icon"><span class="icon-paper-plane"></span></div>
			              <input type="text" class="form-control" id="appointment_email" placeholder="Correo">
			            </div>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-sm-4">
	                <div class="form-group">
	                	<div class="icon"><span class="ion-ios-calendar"></span></div>
	                  <input type="text" class="form-control appointment_date" placeholder="Fecha">
	                </div>    
	              </div>
	              <div class="col-sm-4">
	                <div class="form-group">
	                	<div class="icon"><span class="ion-ios-clock"></span></div>
	                  <input type="text" class="form-control appointment_time" placeholder="Hora">
	                </div>
	              </div>
	              <div class="col-sm-4">
	                <div class="form-group">
	                	<div class="icon"><span class="icon-phone2"></span></div>
	                  <input type="text" class="form-control" id="phone" placeholder="Teléfono">
	                </div>
	              </div>
	            </div>
	            
	            <div class="form-group">
	              <input type="submit" value="Agendar Cita" class="btn btn-primary">
	            </div>
	          </form>
    			</div>
    		</div>
    	</div>
    </section>
  
    <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-2">Nuestros Servicios Te Mantienen Sonriendo</h2>
            <p>Nuestra gama de servicios está diseñada para cubrir todas las necesidades de salud bucal de nuestros pacientes, desde cuidados preventivos hasta tratamientos especializados.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-tooth-1"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Tratamientos</h3>
                <p>En Shine Dental, ofrecemos una amplia gama de tratamientos dentales personalizados para satisfacer las necesidades de cada paciente.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-dental-care"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Cirugía y Exodoncia</h3>
                <p>Nuestras soluciones quirúrgicas y de exodoncia están diseñadas para abordar situaciones que requieren la extracción de dientes o procedimientos más avanzados.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-tooth-with-braces"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Ortodoncia</h3>
                <p>La ortodoncia se especializa en corregir la alineación de los dientes y la mordida. Ofrecemos tratamientos de ortodoncia utilizando técnicas modernas para obtener resultados efectivos.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-anesthesia"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Incrustaciones Dentales</h3>
                <p>Las incrustaciones dentales son una excelente opción para restaurar dientes que han sufrido daños significativos. Ofrecemos materiales duraderos y estéticamente agradables</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-3">Conoce a Nuestros Dentistas</h2>
            <p>En Shine Dental, contamos con un equipo de profesionales altamente calificados y apasionados por la odontología, comprometidos en brindarte la mejor atención dental posible.</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
              <div class="img mb-4" style="background-image: url(/images/person_5.jpg);"></div>
              <div class="info text-center">
                <h3><a href="teacher-single.html">Herbert Castillo</a></h3>
                <span class="position">Dentista</span>
                <div class="text">
                  <p>El Dr. Castillo es conocido por su trato humano y su capacidad para manejar casos complejos con un enfoque multidisciplinario, siempre buscando el mejor resultado funcional y estético para sus pacientes.</p>
                  <ul class="ftco-social">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
              <div class="img mb-4" style="background-image: url(/images/person_6.jpg);"></div>
              <div class="info text-center">
                <h3><a href="teacher-single.html">Cristian Joc</a></h3>
                <span class="position">Dentista</span>
                <div class="text">
                  <p>Su enfoque en la prevención y el cuidado integral del paciente asegura que cada persona que visita Shine Dental reciba el tratamiento más adecuado para mantener una salud bucal óptima.</p>
                  <ul class="ftco-social">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 justify-content-center">
          <div class="col-md-8 ftco-animate">
            <p>Nos enorgullece crear un ambiente acogedor y seguro, donde cada paciente es tratado con respeto. Estamos aquí para acompañarte en cada paso del camino hacia una sonrisa saludable y hermosa.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-3">Precio de Tratamientos</h2>
            <p>Estamos aquí para acompañarte en cada paso del camino hacia una sonrisa saludable y hermosa.</p>
          </div>
        </div>
    		<div class="row">
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Consulta</h3>
	        			<p><span class="price">Q100.ºº</span> <span class="per">/ Consulta General</span></p>
	        		</div>
        			<ul>
        				<li>Diagnostico Detallado</li>
								<li>Presupuesto</li>
								<li>Plan de Tratamiento</li>
        			</ul>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Radiografía</h3>
	        			<p><span class="price">Q150.ºº</span></p>
	        		</div>
        			<ul>
        				<li>Uso Exclusivo en la Clínica</li>
        			</ul>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry active pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Especialista</h3>
	        			<p><span class="price">Q350.ºº</span> <span class="per">/ Consulta con Especialista</span></p>
	        		</div>
        			<ul>
        				<li>Ortodoncia</li>
								<li>Cirugía Maxilofacial</li>
								<li>Endodoncia</li>
								<li>Periodoncia</li>
								<li>Restaurador</li>
        			</ul>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Limpieza</h3>
	        			<p><span class="price">Q150.ºº</span> <span class="per">/ Sencilla Adulto</span></p>
	        		</div>
        			<ul>
        				<li>Profilaxis con un cepillo con pasta para profilaxis</li>
								<li>Aplicación de flúor</li>
        			</ul>
        		</div>
        	</div>
        </div>
    	</div>
    </section>
		
		<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="cliente/about" class="gallery img d-flex align-items-center" style="background-image: url(/images/gallery-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="cliente/odontopediatria" class="gallery img d-flex align-items-center" style="background-image: url(/images/gallery-2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="cliente/doctors" class="gallery img d-flex align-items-center" style="background-image: url(/images/gallery-3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="cliente/services" class="gallery img d-flex align-items-center" style="background-image: url(/images/gallery-4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>
		
		<div id="map">
      <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3862.6323375811407!2d-90.54825472554671!3d14.505783379392357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a7212ea92961%3A0x51662d79c9c235b2!2sShine%20Dental%2C%20Cl%C3%ADnica%20dental!5e0!3m2!1ses-419!2sgt!4v1724939545290!5m2!1ses-419!2sgt" 
      width="800" 
      height="600" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
  </iframe>
      </div>


    
    

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Shine Dental</h2>
              <p>Construyendo sonrisas que cambian vidas</p>
            </div>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
              <li class="ftco-animate"><a href="https://www.facebook.com/Shindentalclinica/"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/shinedentalclinica/"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="cliente/about" class="py-2 d-block">Sobre Nosotros</a></li>
                <li><a href="#" class="py-2 d-block">Portafolio</a></li>
                <li><a href="cliente/services" class="py-2 d-block">Servicios</a></li>
                <li><a href="cliente/contact" class="py-2 d-block">Contacto</a></li>
                <li><a href="admin/login" class="py-2 d-block">Sistema Shine Dental</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Clínica Shine Dental</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">11 av. 3-07 Residenciales Ribera del Río, San Miguel Petapa</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+(502) 5319-3185</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">shinedentalclinica@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <!-- Modal -->
  <div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRequestLabel">Haz tu cita</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <!-- <label for="appointment_name" class="text-black">Full Name</label> -->
              <input type="text" class="form-control" id="appointment_name" placeholder="Nombre Completo">
            </div>
            <div class="form-group">
              <!-- <label for="appointment_email" class="text-black">Email</label> -->
              <input type="text" class="form-control" id="appointment_email" placeholder="Correo">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="appointment_date" class="text-black">Date</label> -->
                  <input type="text" class="form-control appointment_date" placeholder="Fecha">
                </div>    
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="appointment_time" class="text-black">Time</label> -->
                  <input type="text" class="form-control appointment_time" placeholder="Hora">
                </div>
              </div>
            </div>
            

            <div class="form-group">
              <!-- <label for="appointment_message" class="text-black">Message</label> -->
              <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Agendar Cita" class="btn btn-primary">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/jquery.timepicker.min.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>

  
    
  </body>
</html>