<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Shine Dental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/shine.png">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">Shine<span>Dental</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menú
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/cliente/about" class="nav-link">Sobre Nosotros</a></li>
	          <li class="nav-item active"><a href="/cliente/services" class="nav-link">Servicios</a></li>
	          <li class="nav-item"><a href="/cliente/doctors" class="nav-link">Especialistas</a></li>
	          <li class="nav-item"><a href="/cliente/odontopediatria" class="nav-link">Odontopediatría</a></li>
	          <li class="nav-item"><a href="/cliente/contact" class="nav-link">Contacto</a></li>
	          <li class="nav-item cta"><a href="/cliente/contact" class="nav-link" data-toggle="modal" data-target="#modalRequest"><span>Haz tu cita</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="index.html">Home</a></span> <span>Servicios</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Servicios</h1>
              <p>Catálogo de servicios</p>
            </div>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-2">Nuestros Servicios Te Mantienen Sonriendo</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-tooth"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Tratamientos</h3>
                <p>En Shine Dental, ofrecemos una amplia gama de tratamientos dentales personalizados para satisfacer las necesidades de cada paciente.</p>
              </div>
            </div>      
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-dentist"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Cirugía y Exodonxia</h3>
                <p>Nuestras soluciones quirúrgicas y de exodoncia están diseñadas para abordar situaciones que requieren la extracción de dientes o procedimientos más avanzados.</p>
              </div>
            </div>    
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-dental-care-1"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Operatoria Dental</h3>
                <p>La operatoria dental se enfoca en la restauración de dientes dañados por caries o traumatismos. Utilizamos materiales de alta calidad.</p>
              </div>
            </div>      
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-dental-care"></span>
            		<span class="flaticon-tooth"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Incrustaciones Dentales</h3>
                <p>Las incrustaciones dentales son una excelente opción para restaurar dientes que han sufrido daños significativos. Ofrecemos materiales duraderos y estéticamente agradables</p>
              </div>
            </div>      
          </div>

          <div class="row">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services d-block text-center">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-tooth"></span>
                </div>
                <div class="media-body p-2 mt-3">
                  <h3 class="heading">Endodoncia</h3>
                  <p>El tratamiento de conductos es fundamental para salvar dientes infectados o dañados. Utilizando técnicas avanzadas para garantizar la conservación de tus dientes naturales. Estas restauraciones mejoran la función de tus dientes y la apariencia de tu sonrisa.</p>
                </div>
              </div>      
            </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-dental-care"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Prótesis Fija</h3>
                <p>Las prótesis fijas, como coronas y puentes, ofrecen soluciones permanentes para la pérdida dental. Estas restauraciones mejoran la función de tus dientes y la apariencia de tu sonrisa.</p>
              </div>
            </div>    
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-tooth-with-braces"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Odontología Cosmética</h3>
                <p>La odontología cosmética se dedica a mejorar la estética de tu sonrisa. Nuestros tratamientos están diseñados para ofrecer resultados espectaculares y naturales.</p>
              </div>
            </div>      
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-dental-care"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Prótesis Removible</h3>
                <p>Las prótesis removibles son una solución versátil para la sustitución de dientes faltantes. Ofrecemos una variedad de opciones cómodas y estéticas para mejorar tu calidad de vida.</p>
              </div>
            </div>      
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-dental-care"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Prótesis Total</h3>
                <p>Las prótesis totales están diseñadas para personas que han perdido todos sus dientes. En Shine Dental, creamos prótesis que restauran la función, también ofrecen una apariencia natural.</p>
              </div>
            </div>      
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-tooth-with-braces"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Ortodoncia</h3>
                <p>La ortodoncia se especializa en corregir la alineación de los dientes y la mordida. Ofrecemos tratamientos de ortodoncia utilizando técnicas modernas para obtener resultados efectivos.</p>
              </div>
            </div>    
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-tooth-with-braces"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Retención</h3>
                <p>Después de la ortodoncia, la retención es crucial para mantener los resultados a largo plazo. Proporcionamos retenedores personalizados para asegurar que tu nueva sonrisa se mantenga.</p>
              </div>
            </div>      
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-dentist"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Aparatos</h3>
                <p>Los aparatos ortopédicos y ortodónticos son fundamentales para guiar el crecimiento dental y corregir maloclusiones. Ofrecemos una variedad de dispositivos para una adaptación segura.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
</section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row d-flex align-items-center">
    			<div class="col-md-3 aside-stretch py-5">
    				<div class=" heading-section heading-section-white ftco-animate pr-md-4">
	            <h2 class="mb-3">Tratamientos</h2>
	          </div>
    			</div>
    			<div class="col-md-9 py-5 pl-md-5">
		    		<div class="row">
		            <div class="block-18">
		              <div class="text">
		                <span>En Shine Dental, ofrecemos una amplia gama de tratamientos dentales personalizados para satisfacer las necesidades de cada paciente.</span>
		              </div>
		            </div>
		          </div>
    </section>

    <section class="ftco-section">
      <div class="container">
    		<div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          </div>
        </div>
      <div class="row">
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
	        			<h3 class="mb-4">Consulta</h3>
	        			<p><span class="price">Q100.ºº</span> <span class="per">/ Consulta General</span></p>
	        		</div>
        			<ul>
        				<li>Diagnostico Detallado</li>
								<li>Presupuesto</li>
								<li>Plan de Tratamiento</li>
        			</ul>
        		</div>
        	</div>

        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Radiografía</h3>
	        			<p><span class="price">Q150.ºº</span></p>
	        		</div>
        			<ul>
        				<li>Uso Exclusivo en la Clínica</li>
        			</ul>
        		</div>
        	</div>
          
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry active pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Especialista</h3>
	        			<p><span class="price">Q350.ºº</span> <span class="per">/ Consulta con Especialista</span></p>
	        		</div>
        			<ul>
        				<li>Ortodoncia</li>
								<li>Cirugía Maxilofacial</li>
								<li>Endodoncia</li>
								<li>Periodoncia</li>
								<li>Restaurador</li>
        			</ul>
        		</div>
        	</div>
          
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Limpieza</h3>
	        			<p><span class="price">Q150.ºº</span> <span class="per">/ Sencilla Adulto</span></p>
	        		</div>
        			<ul>
        				<li>Profilaxis con un cepillo con pasta para profilaxis</li>
								<li>Aplicación de flúor</li>
        			</ul>
        		</div>
        	</div>

          <div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Limpieza</h3>
	        			<p><span class="price">Q200.ºº</span> <span class="per">/ Completa Adulto</span></p>
	        		</div>
        			<ul>
        				<li>Destartraje con Ultrasonido</li>
								<li>Chorro de Bicarbonato</li>
                <li>Profilaxis Dental</li>
                <li>Aplicación de flúor</li>
        			</ul>
        		</div>
        	</div>

          <div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Limpieza</h3>
	        			<p><span class="price">Q75.ºº</span> <span class="per">/ Con Anestesia</span></p>
	        		</div>
        			<ul>
        				<li> Extra por cada cuadrante</li>
        			</ul>
        		</div>
        	</div>

          <div class="col-md-3 ftco-animate">
        		<div class="pricing-entry active pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Limpieza</h3>
	        			<p><span class="price">Q100.ºº</span> <span class="per">/ Niños menores de 8 años</span></p>
	        		</div>
        			<ul>
        				<li>Profilaxis con un cepillo con pasta para profilaxis</li>
								<li>Aplicación de Flúor</li>
        			</ul>
        		</div>
        	</div>

        </div>
    	</div>
    </section>

  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Cirugía y Exodoncia</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>Nuestras soluciones quirúrgicas y de exodoncia están diseñadas para abordar situaciones que requieren la extracción de dientes o procedimientos más avanzados.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4">Exodoncia</h3>
              <p><span class="price">Q150.ºº</span> <span class="per">/ Niño </span></p>
            </div>
            <ul>
              <li>Sólo piezas de leche</li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Exodoncia</h3>
              <p><span class="price">Q250.ºº</span> <span class="per">/ Adulto con sutura </span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Exodoncia</h3>
              <p><span class="price">Q350.ºº</span> <span class="per">/ Adulto </span></p>
            </div>
            <ul>
              <li>Todas las piezas permanentes, excepto Cordales</li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Eliminación de Sutura</h3>
              <p><span class="price">Q50.ºº</span> <span class="per">/ Puntos de Sutura</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Exodoncia Cordal</h3>
              <p><span class="price">Q350.ºº</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Cirugia de Cordal</h3>
              <p><span class="price">Q700.ºº</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Regularización de Reborde</h3>
              <p><span class="price">Q800.ºº</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
    
  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3"> Operatoria Dental</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>La operatoria dental se enfoca en la restauración de dientes dañados por caries o traumatismos. Utilizamos materiales de alta calidad.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4"> Rellenos</h3>
              <p><span class="price">Q200.ºº</span> <span class="per">/ Blanco</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Rellenos</h3>
              <p><span class="price">Q175.ºº</span> <span class="per">/ Gris</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Sellantes</h3>
              <p><span class="price">Q175.ºº</span> <span class="per">/ Fosas y Fisuras</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Elevación</h3>
              <p><span class="price">Q250.ºº</span></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Incrustaciones Dentales</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>Las incrustaciones dentales son una excelente opción para restaurar dientes que han sufrido daños significativos. Ofrecemos materiales duraderos y estéticamente agradables</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4">Resina de Ceramage</h3>
              <p><span class="price">Q1,000.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Zirconia Mono</h3>
              <p><span class="price">Q1,800.ºº</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">EMAX</h3>
              <p><span class="price">Q2,000.ºº</span></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Endodoncia</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>El tratamiento de conductos es fundamental para salvar dientes infectados o dañados. Utilizando técnicas avanzadas para garantizar la conservación de tus dientes naturales.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4">TCR</h3>
              <p><span class="price">Q1,100.ºº</span> <span class="per">/ Dr.Ofe</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">TCR</h3>
              <p><span class="price">Q150.ºº</span> <span class="per">/ Dr.Lizzy</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Quitar Poste</h3>
              <p> <span class="per">/ Depende de la Doctora</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Retratamiento</h3>
              <p><span class="price">Q1,200.ºº</span> <span class="per">/ Dr.Ofe</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Retratamiento</h3>
              <p><span class="price">Q1,500.ºº</span> <span class="per">/ Dr.Lizzy</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Limpiar Caries</h3>
              <p><span class="price">Q150.ºº</span></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Prótesis Fija</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>Las prótesis fijas, como coronas y puentes, ofrecen soluciones permanentes para la pérdida dental. Estas restauraciones mejoran la función de tus dientes y la apariencia de tu sonrisa.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4"> Poste</h3>
              <p><span class="price">Q450.ºº</span> <span class="per">/ Cada unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Corona</h3>
              <p><span class="price">Q1,400.ºº</span> <span class="per">/ Metal Porcelana (unidad)</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Corona</h3>
              <p><span class="price">Q1,800.ºº</span> <span class="per">/ Zirconio mono (unidad)</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Corona</h3>
              <p><span class="price">Q2,000.ºº</span> <span class="per">/ EMAX (unidad)</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Carilla de Resina</h3>
              <p><span class="price">Q450.ºº</span> <span class="per">/ Cada unidad</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Carilla de EMAX</h3>
              <p><span class="price">Q1,700.ºº</span> <span class="per">/ Cada unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Implante Restaurado</h3>
              <p><span class="price">Q1,000.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Corona Resina</h3>
              <p><span class="price">Q700.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Encerado</h3>
              <p><span class="price">Q150.ºº</span> <span class="per">/ Diagnóstico 3D (unidad)</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Corona Metalica</h3>
              <p><span class="price">Q600.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Cerámica Rosa en mp</h3>
              <p><span class="price">Q150.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Cerámica Rosa en zr</h3>
              <p><span class="price">Q175.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Cerámica Rosa en em</h3>
              <p><span class="price">Q175.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Muck Up Acrílico</h3>
              <p><span class="price">Q500.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Muck Up Bis Acrílico</h3>
              <p><span class="price">Q800.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Quitar Coronas</h3>
              <p><span class="price">Q300.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Pilar para Implante</h3>
              <p><span class="price">Q900.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Provisionales</h3>
              <p><span class="price">Q150.ºº</span> <span class="per">/ unidad</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Cementar Corona</h3>
              <p><span class="price">Q150.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Cementar puente</h3>
              <p><span class="price">Q200.ºº</span></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Odontología Cosmética</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>La odontología cosmética se dedica a mejorar la estética de tu sonrisa. Nuestros tratamientos están diseñados para ofrecer resultados espectaculares y naturales.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4"> Blanqueamiento</h3>
              <p><span class="price">Q1,000.ºº</span> <span class="per">/ Led</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Blanqueamiento</h3>
              <p><span class="price">Q1,000.ºº</span> <span class="per">/ Casero</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Barniz Fluorado</h3>
              <p><span class="price">Q75.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Guarda Oclusal</h3>
              <p><span class="price">Q400.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Pegar Provisionales</h3>
              <p><span class="price">Q100.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Pegar Corona-Puente</h3>
              <p><span class="price">Q150.ºº</span></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Prótesis Removible</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>Las prótesis removibles son una solución versátil para la sustitución de dientes faltantes. Ofrecemos una variedad de opciones cómodas y estéticas para mejorar tu calidad de vida.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4"> Prótesis Inmediata</h3>
              <p><span class="price">Q750.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Diablita Unilateral</h3>
              <p><span class="price">Q700.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Diablita Bilateral</h3>
              <p><span class="price">Q900.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Diablita (una pieza)</h3>
              <p><span class="price">Q400.ºº</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Cromo Cobalto</h3>
              <p><span class="price">Q1,800.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Valplast Unilateral</h3>
              <p><span class="price">Q750.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Valplast Bilateral</h3>
              <p><span class="price">Q1,300.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Valplast Bilateral</h3>
              <p><span class="price">Q1,700.ºº</span> <span class="per">/ Bilateral</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Valplast Hibrida</h3>
              <p><span class="price">Q1,000.ºº</span> <span class="per">/ Unilateral</span></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Prótesis Total</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>Las prótesis totales están diseñadas para personas que han perdido todos sus dientes. En Shine Dental, creamos prótesis que restauran la función, también ofrecen una apariencia natural.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4"> Prótesis Acrílico</h3>
              <p><span class="price">Q1,500.ºº</span> <span class="per">/ Cada Prótesis</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
                <h3 class="mb-4"> Prótesis VALPLAS</h3>
                <p><span class="price">Q1,850.ºº</span> <span class="per">/ Cada Prótesis</span></p>
              </div>
            </div>
          </div>

          <div class="col-md-3 ftco-animate">
            <div class="pricing-entry pb-5 text-center">
              <div>
                  <h3 class="mb-4"> Prótesis Caracterizada</h3>
                  <p><span class="price">Q2,000.ºº</span> <span class="per">/ Cada Prótesis</span></p>
                </div>
              </div>
            </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Open Fase</h3>
              <p><span class="price">Q350.ºº</span> <span class="per">/ Cada Prótesis</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Limpieza de Prótesis</h3>
              <p><span class="price">Q400.ºº</span> <span class="per">/ Ambas Prótesis</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Rebase de prótesis</h3>
              <p><span class="price">Q250.ºº</span> <span class="per">/ Cada Prótesis</span></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>


  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Ortodoncia</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>La ortodoncia se especializa en corregir la alineación de los dientes y la mordida. Ofrecemos tratamientos de ortodoncia utilizando técnicas modernas para obtener resultados efectivos.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4"> Colocación (+8 sellantes)</h3>
              <p><span class="price">Q3,200.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Colocación (Sin sellantes)</h3>
              <p><span class="price">Q2,500.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Citas Mensuales</h3>
              <p><span class="price">Q350.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Aditamentos extras</h3>
              <p><span class="per">/ Depende de lo que se solicite</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Microtornillo</h3>
              <p><span class="price">Q1,000.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Bracket o Tubo</h3>
              <p><span class="price">Q150.ºº</span> <span class="per">/ Deshaderido</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Bracket o Tubo</h3>
              <p><span class="price">Q200.ºº</span> <span class="per">/ Nuevo</span></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>


  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Retención</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>Después de la ortodoncia, la retención es crucial para mantener los resultados a largo plazo. Proporcionamos retenedores personalizados para asegurar que tu nueva sonrisa se mantenga.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4"> Circunferencial</h3>
              <p><span class="price">Q1,000.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Tipo Hawley</h3>
              <p><span class="price">Q1,000.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Termoformado</h3>
              <p><span class="price">Q1,000.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Retenedor Fijo</h3>
              <p><span class="price">Q750.ºº</span></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  
  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 aside-stretch py-5">
          <div class=" heading-section heading-section-white ftco-animate pr-md-4">
            <h2 class="mb-3">Aparatos</h2>
          </div>
        </div>
        <div class="col-md-9 py-5 pl-md-5">
          <div class="row">
              <div class="block-18">
                <div class="text">
                  <span>Los aparatos ortopédicos y ortodónticos son fundamentales para guiar el crecimiento dental y corregir maloclusiones. Ofrecemos una variedad de dispositivos para una adaptación segura.</span>
                </div>
              </div>
            </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        </div>
      </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
              <h3 class="mb-4"> ATP+Boton</h3>
              <p><span class="price">Q850.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Arco Lingual</h3>
              <p><span class="price">Q900.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Distalizador</h3>
              <p><span class="price">Q2,500.ºº</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Expansor</h3>
              <p><span class="price">Q2,500.ºº</span> <span class="per">/ Hass o Hyrax</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Arco Extraoral</h3>
              <p><span class="price">Q1,500.ºº</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 ftco-animate">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Expansor Asistido (Por Microtornillos)</h3>
              <p><span class="price">Q2,200.ºº</span> <span class="per">/ solo expansor</span></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Shine Dental</h2>
              <p>Construyendo sonrisas que cambian vidas</p>
            </div>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
              <li class="ftco-animate"><a href="https://www.facebook.com/Shindentalclinica/"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/shinedentalclinica/"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="cliente/about" class="py-2 d-block">Sobre Nosotros</a></li>
                <li><a href="#" class="py-2 d-block">Portafolio</a></li>
                <li><a href="cliente/services" class="py-2 d-block">Servicios</a></li>
                <li><a href="cliente/contact" class="py-2 d-block">Contacto</a></li>
                <li><a href="admin/login" class="py-2 d-block">Sistema Shine Dental</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Clínica Shine Dental</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">11 av. 3-07 Residenciales Ribera del Río, San Miguel Petapa</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+(502) 5319-3185</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">shinedentalclinica@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <!-- Modal -->
  <div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRequestLabel">Haz tu cita</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <!-- <label for="appointment_name" class="text-black">Full Name</label> -->
              <input type="text" class="form-control" id="appointment_name" placeholder="Nombre Completo">
            </div>
            <div class="form-group">
              <!-- <label for="appointment_email" class="text-black">Email</label> -->
              <input type="text" class="form-control" id="appointment_email" placeholder="Email">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="appointment_date" class="text-black">Date</label> -->
                  <input type="text" class="form-control appointment_date" placeholder="Fecha">
                </div>    
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="appointment_time" class="text-black">Time</label> -->
                  <input type="text" class="form-control appointment_time" placeholder="Hora">
                </div>
              </div>
            </div>
            

            <div class="form-group">
              <!-- <label for="appointment_message" class="text-black">Message</label> -->
              <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Make an Appointment" class="btn btn-primary">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/jquery.timepicker.min.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>
    
  </body>
</html>